@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
    margin: 0;

    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    width: 1100px;
    max-width: 100%;

    margin: 0 auto;
    padding: 0 20px;
}

.h1,
h2 {
    background-color: #F9F4F2;
    font-family: 'Roboto', serif;
    font-size: 36px;
    font-weight: 700;
    color: #472717;
}

/* M */
h2 {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 60px;
    z-index: 1;
}

h2:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* width = wrapper */
    width: calc(1100px - 40px);
    max-width: calc(100vw - 40px);
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    z-index: -2;
}

h2:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 20px);
    height: 100%;
    background: #F9F4F2;

    z-index: -1;
}

/* M - e */


p {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #472717;
}

.button {
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', 'serif';
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;

    background-color: #472717;
    border: none;

    padding: 10px 25px;
    cursor: pointer;
}

.title {
    text-align: center;
}


.bgr-img {
    position: fixed;
    top: 0;
    left: 0;


    height: 100%;
    width: 100%;

    z-index: -3;
}

.bgr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #F2EEE7;
    align-items: center;
    margin-bottom: -50px;
    margin-top: 50px;
    padding-right: 5px;
    z-index: 2;
}

.header__wrapper {
    height: 100%;
}

.header__top {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    padding-left: 30px;
}

.header__menu {
    position: relative;
    display: flex
}

.menu__primary {
    list-style: none;
    margin: 0;
    padding: 0%;
}

.menu__primary-item {
    position: relative;
    display: inline-block;
    border-left: 1px solid #E5E1DB
}

.menu__primary-item:first-of-type {
    border: 0;
}

.menu-primary__link {
    display: inline-flex;
    font-family: 'roboto', serif;
    font-size: 14px;
    font-weight: 700;
    color: #472717;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;

    height: 90px;
    padding: 0 20px;
    align-items: center;

    transition: all 0.5s ease-in-out;
}


.menu-primary__link:hover {
    background-color: #D7CDBA;

}

.menu__primary-item--custom .menu-primary__link {
    background-color: #472717;
    color: #FFFFFF;

    transition: all 0.5s ease-in-out;
}

.menu__primary-item--custom .menu-primary__link:hover {
    background-color: #D7CDBA;
    color: #472717;
}

.menu__primary-color {
    background-color: #472717;
}


.banner {
    position: relative;
    z-index: 1;

}

.banner__img {
    height: auto;
    width: 100vw;
    margin: 0 calc((100vw - 100%) / 2 * (-1));
}

.banner__text {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 700px;
    max-width: 100%;

    background-color: #472717;

    padding: 25px;
    z-index: 1;
}

.banner__title {
    font-family: 'roboto', serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F2EEE7;
    letter-spacing: 2px;
}

@media (max-width:850px) {
    .banner__title {
        font-size: 30px;
    }
}

@media (max-width:700px) {
    .banner__title {
        font-size: 25px;
    }
}

@media (max-width:480px) {
    .banner__title {
        font-size: 20px;
    }
}

/* M */
.main {
    position: relative;
    z-index: 1;
    top: -5px;
}

.main:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100%;
    background-color: #F9F4F2;

    z-index: -1;
}

/* M - e */

.content {
    width: 100%;
}

.content__text {
    text-align: center;
}

.content__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.offer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.offer__title {
    width: 100%;
}

.offer__item {
    position: relative;
    width: calc(50% - 25px);
}

.offer__img img {
    width: 100%;
}

.offer__img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 8px 20px;

    text-align: center;
    background-color: #472717;
    font-family: 'roboto', serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;

    z-index: 2;

}

@media (max-width:850px) {
    .offer__item {
        width: 100%;
        margin-bottom: 25px;
    }

    .offer__item:last-of-type {
        margin-bottom: 0;
    }
}

@media (max-width:480px) {
    .offer__item {
        display: flex;
        flex-direction: column-reverse;
    }

    .offer__img-text {
        position: relative;
    }
}



.rooms {}

.rooms__content {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.rooms__text {
    width: 50%;
    line-height: 26px;
    text-align: left;
    padding-right: 40px;
}

.rooms__button {
    margin-top: 20px;
}

.rooms__img {
    width: 50%;
    height: auto;
}

.rooms__img img {
    width: 100%;
}

@media (max-width:850px) {
    .rooms__content {
        flex-wrap: wrap;
    }

    .rooms__text {
        width: 100%;
        padding: 0;
    }

    .rooms__img {
        width: 100%;
    }

    .rooms__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-bottom: 30px;
    }

}

.area {}

.area__img {
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 100%;
}

.area__img img {
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
}

.maps {
    padding-top: 50px;
}

.maps iframe {
    padding-top: 60px;
    height: 350px;
    width: 100vw;
    margin: 0 calc((100vw - 100%) / 2 * (-1))
}

.footer {}

.footer__copyright {
    display: flex;
    flex-flow: row nowrap;
    padding: 40px;
    justify-content: space-between;
}

.footer__copyright-copyright {
    font-family: 'roboto', serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;

}

.footer__copyright-realization {
    font-family: 'roboto', serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

@media (max-width:850px) {
    .footer__copyright {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .footer__copyright-copyright {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__copyright-realization {
        width: 100%;
    }
}


.content__text-subpage {
    text-align: left;
}

.content__row {
    display: flex;
    justify-content: space-between;

}